.signup-form-errors {
	color: red;
}

.signup-form-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-form {
	display: flex;
	flex-direction: column;
}

.signup-input {
	margin: 5px;
}

.signup-button {
	padding: 6px;
	margin-top: 20px;
	color: white;
	background-color: green;
	border-radius: 6px;
}

.signup-button-disabled {
	padding: 6px;
	margin-top: 20px;
	border-radius: 6px;
}

.signup-form-login-button {
	background-color: white;
	border-style: unset;
	color: blue;
	font-size: 14px;
	padding: 0px;
	margin-left: 2px;
}

.signup-form-login-button:hover {
	text-decoration: underline;
}
