.upload-form-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-form-errors {
	color: red;
}

.upload-form {
	display: flex;
	flex-direction: column;
}

.upload-input {
	margin: 5px;
}

.upload-textarea-div {
	display: flex;
	align-items: flex-start;
}

.upload-textarea {
	margin: 5px;
	font-family: Arial, sans-serif;
}

.upload-textarea-label {
	margin-top: 5px;
}

.upload-button {
	padding: 6px;
	margin-top: 20px;
	color: white;
	background-color: green;
	border-radius: 4px;
	border-style: unset;
}

.upload-button:hover {
	background-color: rgb(1, 99, 1);
}

.upload-button-disabled {
	padding: 6px;
	margin-top: 20px;
	border-radius: 4px;
	border-style: unset;
	border: 1px solid lightgray;
}
