.individual-photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.individual-photo-img-container {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.individual-photo-img {
	max-height: 70vh;
	max-width: 100%;
}

.individual-photo-title {
	font-size: 18px;
	font-weight: 450;
	margin-bottom: 10px;
	width: 70%;
	text-align: center;
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.individual-photo-content {
	width: 87%;
	text-align: center;
	margin-bottom: 25px;
	font-size: 16px;
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.individual-photo-user {
	margin-bottom: 10px;
	font-weight: 450;
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
	display: flex;
	align-items: center;
}

.individual-photo-user-photo-container {
	padding-right: 8px;
}

.individual-photo-user-photo {
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.individual-photo-user-username {
	font-size: 20px;
}

.individual-photo-delete-button {
	padding: 6px;
	margin: 4px;
	align-self: center;
	font-size: 14px;
	color: white;
	background-color: red;
	border-radius: 4px;
	border-style: unset;
	margin-bottom: 10px;
}

.individual-photo-delete-button:hover {
	background-color: rgb(197, 4, 4);
}

.individual-photo-delete-errors {
	color: red;
	justify-content: center;
}

.individual-photo-delete-and-edit-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.individual-photo-edit-button {
	padding: 6px;
	margin: 4px;
	align-self: center;
	font-size: 14px;
	color: white;
	background-color: orange;
	border-radius: 4px;
	border-style: unset;
	margin-bottom: 10px;
}

.individual-photo-edit-button:hover {
	background-color: rgb(201, 131, 3);
}

.individual-photo-delete-confirm-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5px;
}

.individual-photo-cancel-button {
	padding: 6px 11px;
	margin: 4px;
	margin-left: 30px;
	align-self: center;
	font-size: 14px;
	background-color: yellow;
	border-radius: 4px;
	border-style: unset;
	margin-bottom: 10px;
}

.individual-photo-cancel-button:hover {
	background-color: rgb(204, 204, 3);
}

.individual-photo-delete-message {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.individual-photo-confirm-delete-button {
	padding: 6px 11px;
	margin: 4px;
	align-self: center;
	font-size: 14px;
	color: white;
	background-color: red;
	border-radius: 4px;
	border-style: unset;
	margin-bottom: 10px;
}

.individual-photo-confirm-delete-button:hover {
	background-color: rgb(197, 4, 4);
}

.individual-photo-individual-comment-user-photo {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding: 5px;
	padding-right: 10px;
}

.individual-photo-individual-comment-container {
	display: flex;
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
	padding: 7px;
	align-items: center;
}

.individual-photo-individual-comment-username-and-updated-date {
	display: flex;
	align-items: center;
}

.individual-photo-comments-container {
	padding: 20px;
	border-top: 2px solid lightgray;
}

.individual-photo-individual-comment-username {
	color: #006dac;
	font-weight: 500;
	padding-right: 15px;
	text-align: center;
}

.individual-photo-individual-comment-content {
	margin: 2px 0px;
	margin-right: 10px;
}

.individual-photo-individual-comment-updated-date {
	color: rgb(146, 145, 145);
	text-align: center;
	margin-left: 3px;
}

.individual-photo-individual-comment-add-comment {
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 3px 6px;
	margin: 8px;
	margin-left: 55px;
}

.individual-photo-individual-comment-add-comment-button {
	padding: 6px 11px;
	align-self: flex-start;
	font-size: 14px;
	color: white;
	background-color: #006dac;
	border-radius: 4px;
	border-style: unset;
	margin-bottom: 8px;
	margin-left: 55px;
}

.individual-photo-individual-comment-add-comment-button:hover {
	background-color: #015686;
}

.individual-photo-individual-comment-add-comment-container {
	display: flex;
	flex-direction: column;
}

.individual-photo-comment-errors {
	color: red;
}

.individual-photo-individual-comment-content-and-edit-and-delete-buttons {
	padding-top: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.individual-photo-individual-comment-edit-button {
	padding: 3px 7px;
	margin: 0px 4px;
	align-self: center;
	font-size: 14px;
	color: white;
	background-color: orange;
	border-radius: 4px;
	border-style: unset;
}

.individual-photo-individual-comment-edit-button:hover {
	background-color: rgb(201, 131, 3);
}

.individual-photo-individual-comment-delete-button {
	padding: 3px 7px;
	margin: 0px 4px;
	align-self: center;
	font-size: 14px;
	color: white;
	background-color: red;
	border-radius: 4px;
	border-style: unset;
}
.individual-photo-individual-comment-delete-button:hover {
	background-color: rgb(197, 4, 4);
}

.individual-photo-individual-comment-edit-and-delete-buttons {
	display: flex;
	width: 109px;
}

.individual-photo-individual-comment-edit-comment-container {
	display: flex;
	flex-direction: column;
}

.individual-photo-individual-comment-edit-comment-button {
	padding: 6px 11px;
	align-self: flex-start;
	font-size: 14px;
	color: white;
	background-color: #006dac;
	border-radius: 4px;
	border-style: unset;
	margin-top: 8px;
}

.individual-photo-individual-comment-edit-comment-content {
	font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
	font-size: 15px;
}
.individual-photo-individual-comment-edit-comment-button:hover {
	background-color: #015686;
}

.profile-photo-top-position {
	align-self: flex-start;
}

.comment-div-color {
	background-color: rgb(243, 241, 241);
	border-radius: 4px;
}

.individual-photo-edit-comment-errors {
	color: red;
	padding-left: 19px;
}
